@import'variables';
*{
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;
    color: $black;
    margin: 0;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

%btn-blue{
    // width: 180px;
    padding: 20px 20px;
    border: none;
    border-radius: 30px;
    font-size: $font-size-m;
    font-weight: $font-weight-l;
    color: $white;
    background-color: #35a1b8;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
}

%btn-blue:hover{
    background-color: #68a9b7;
}

.line-h{
    width: 1px;
    height: 100px;
    background-color: $black;
}

.nav{
    margin-top: 12px;
    > *{
        margin: 0;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-nav{
        display: flex;
        justify-content: space-around;
       > *{
        margin: 0 35px;
       }
        section{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .nav-img{
        width:250px;

        img{
            width: 100%;
        }
    }

}
.right-nav{
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.hambuger-btn{
    border: none;
    background-color: $white;
    font-size:25px;
     background-color: rgba($color: #000000, $alpha: 0);
}


.h-btn{
    margin-left: 50px !important;
  
}

.r-btn{
    @extend %btn-blue;

}

.btn-search{
    @extend %btn-blue;
    border-radius: 100%;
    font-size: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:50px;
    margin-left: 15px;
}


.header{
    padding: 1px;
    background-image: url(../img/header/PoliceHeaderBlendSmall.webp);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 100% 0;
}

.header-banner{

    padding: 130px 100px;
  
    h1{
        font-size: $font-size-l + 42px;
        width: 80%;
        color: #00416b;

    }

    .btn-banner{
        @extend %btn-blue;
        padding: 25px 40px;
        border-radius: 50px;
    }
}


@media (max-width:699.99px) {
    .line-h{
        display: none !important;
    }
    .nav-img{
        margin: 0 !important;
    }
    .h-btn{
        margin-left: 0 !important;
        margin-right: 10px !important;
    }
    .btn-search{
        margin-right: 5px;
    }
    .nav-img{
        width: 180px !important;
    }
    .r-btn{
        font-size: $font-size-s;
    }
}


@media (max-width:999.99px) {
    .header-banner{
        width: 100%;
        h1{
            font-size: $font-size-l + 20px;
            width: 100% !important;
        }
    }

    .header{
      
       
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }
}

@media (max-width:699.99px) {
    .header-banner{
       padding: 80px;
     
       text-align: center !important;
       h1{
        font-size: $font-size-l;
       }
       .btn-banner{
        @extend %btn-blue;
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 15px;
    }
    }
    .header{
      
       
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }

}
